# IDE settings
.idea/**
*.DS_Store

# Python artifacts
**/__pycache__/**
**/*.pyc

# Datasets
datasets/**

# Checkpoints and logs
save/**
clustering/**

# tune_results
tune_results/**

# topic_id_pair
topic_id_pair*
